.Playground {
  width: 100%;
  height: 100vh;
}

.PlaygroundContent {
  width: 100%;
  height: 100vh;
  position: relative;
}

.Playground .toolKit {
  width: 120px;
  box-shadow: var(--default-shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  position: absolute;
  z-index: 5;
  margin: 15px;
}

.Playground .toolKit .space {
  height: 30px;
}

.Playground .toolKit button {
  width: 100%;
  padding: 4px;
  outline: none;
  border: none;
  color: var(--light);
  border-bottom: 1px solid var(--grey);
  background-color: var(--dark);
}

.Playground .toolKit button:hover {
  background-color: var(--dark-0);
  color: var(--light-0);
  cursor: pointer;
}

.Playground .toolKit button.last-button {
  border: none;
}
