@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --light: #f8f8f8;
  --light-0: #ffffff;

  --dark-bg: #2b2b2b;
  --dark: #2b2b2b;
  --dark-0: #3e3e3e;

  --grey: #5b5b5b;

  --default-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Montserrat", serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a[href="https://reactflow.dev"]
{
  display: none;
}
